<p id="notice"><%= notice %></p>
<div class="d-flex justify-content-between mr-5 ml-2">
  <div class="ml-3 mb-2"><h3>Planilla de control</h3></div>
  <div><h3><%= link_to ' + Nuevo trabajo', new_orden_trabajo_path %></h3></div>
</div>

<input class="ml-3 w-25" id="buscador_datos" type="text" placeholder="Buscar trabajo">
<script>
  $(document).ready(function(){
  $("#buscador_datos").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#TablaOrdenesTrabajos tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
    console.log(value);
  });
});
</script>
<table class="table table-striped  m-2">
  <thead>
    <tr>
      <th>Ot</th>
      <th>Cliente</th>
      <th>Producto</th>
      <th>Estado actual</th>
      <th>Proceso</th>
      
      <th>Fecha entrega</th>
      <th>Observaciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <!--Incio Tabla-->
  <tbody id="TablaOrdenesTrabajos">
    <% @orden_trabajos.each do |orden_trabajo| %>
      <%= simple_form_for (orden_trabajo) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <tr>
          <td><%= link_to orden_trabajo.trnum, orden_trabajo %></td>
          <td><%= link_to orden_trabajo.clinom, orden_trabajo %></td>
          <td><%= link_to orden_trabajo.nomprod, orden_trabajo %></td>
          <td>
            <%= f.input :estado_actual, as: :select, :collection => ["Pendiente", "Diseño Diego", "Diseño Ismael", "Diseño Eduardo", "Diseño Miguel", "Diseño Santiago", "CTP", "Impresión", "Procesos", "Terminado"], label: false, :default=> "Pendiente" %>
              
          </td>
          <td>
            <script type="text/javascript">
              // Multiselect dropdown orden_trabajo.post -->
              $(document).ready(function() {
                $("#orden_trabajo_procesos_<%=orden_trabajo.id%>").multiselect({
                    allSelectedText: 'Showing All'
                });
              });
              //Fin del efecto multiselect orden_trabajo.post

              //Cambia los valores de la cadena de proceso
              $(function () {
                $("#orden_trabajo_procesos_<%=orden_trabajo.id%>").change(function () {
                  var ValorSeleccionadoDropdown = $(this).val();
                  $(document).ready(function(){$("#<%=orden_trabajo.id%>").val(ValorSeleccionadoDropdown)});  
                  $.ajax({ 
                type: "POST", 
                dataType: "script", 
                url: '/resources/35', 
                contentType: 'application/json', 
                data: JSON.stringify({ resource:{pos_y:45,pos_x:50}, _method:'put' }) }).done(function( msg ) { alert( "Data Saved: " + msg ); });
                });
              });
              //Fin de cambio los valores de la cadena de proceso

              // Inicio de Date Picekr
              $('.datepicker').datepicker({format: 'mm/dd/yyyy',startDate: '-3d'});
              // Fin del Date Picker

            </script>
            
            <!-- Multiselect dropdown html -->
            <select id= "orden_trabajo_procesos_<%=orden_trabajo.id%>" multiple="multiple">
              <% OrdenTrabajo::POST.each do  |clave, valor| %>
                  <%if valor == cadenatohash(orden_trabajo.procesos)[clave] %>
                    <option value = <%= cadenatohash(orden_trabajo.procesos)[clave] %> selected><%= cadenatohash(orden_trabajo.procesos)[clave] %>
                    </option>
                  <%else%>
                    <option value = <%=valor%> ><%= valor %></option>
                  <%end%>
              <%end%>
            </select>
            <!-- Fin multiselect dropdown html -->

            <%= f.input :procesos, :as => :hidden, :input_html => { :id => orden_trabajo.id} %>

          </td>
          <td><%= f.input :fecentr, :class => 'datepicker', :default=>Date.today + 15.day, as: :date, html5: true ,label: false %></td>
          <td><%= f.input :observaciones,  label: false %></td>

          
          <td><%= link_to 'Destroy', orden_trabajo, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </tr>
      <% end %>
    <% end %>
  </tbody>
  <!--Fin Tabla-->
</table>
