<h1>Importar ordenes de trabajos desde Excel</h1>

<p>
Solamente archivos con extension xlsx.
</p>

<h3>Requerimientos</h3>


<h5>Seleccionar arhivo</h5>
<%= form_for @orden_trabajos_import do |f| %>
  <% if @orden_trabajos_import.errors.any? %>
    <%= pluralize(@orden_trabajos_import.errors.count, "error") %> impidi칩 que import치ramos su hoja de c치lculo. Actualice su hoja de c치lculo y vuelva a intentarlo.
    <ul>
      <% @orden_trabajos_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.file_field :file %>
  <%= f.submit "Importar Archivo" %>
<% end %>